* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  color: #777;
  font: 75%/1.6em 'Open Sans',sans-serif;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

.t-default {
  /* HTML5 display-role reset for older browsers */
  /* --- MODAL CSS --- */
}
.t-default article, .t-default aside, .t-default details, .t-default figcaption, .t-default figure,
.t-default footer, .t-default header, .t-default hgroup, .t-default menu, .t-default nav, .t-default section {
  display: block;
}
.t-default h1, .t-default h2, .t-default h3, .t-default h4, .t-default h5, .t-default h6 {
  color: #39ae4a;
  line-height: 1.2em;
}
.t-default h1 {
  font-size: 1.8em;
  font-weight: bold;
}
.t-default h2 {
  color: #98999b;
  font-style: italic;
  font-weight: normal;
}
.t-default h3 {
  font-size: 1.3em;
  font-style: italic;
  font-weight: normal;
}
.t-default h4 {
  color: #98999b;
  font: italic 1.2em/31px Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
.t-default ol, .t-default ul {
  list-style: none;
}
.t-default a {
  color: #39ae4a;
  font-weight: normal;
  cursor: pointer;
}
.t-default a:hover, .t-default a:focus {
  text-decoration: none;
}
.t-default blockquote, .t-default q {
  quotes: none;
}
.t-default blockquote:before, .t-default blockquote:after,
.t-default q:before, .t-default q:after {
  content: '';
  content: none;
}
.t-default table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
}
.t-default input[type="text"], .t-default input[type="password"], .t-default textarea {
  border: 1px solid #cccccc;
  color: #666;
  outline: medium none;
  padding: 5px;
}
.t-default input[type="text"]:focus, .t-default input[type="password"]:focus, .t-default textarea:focus {
  border-color: #666;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}
.t-default input[type="text"] {
  font-size: 12px;
}
.t-default input[type="text"].hidden-input {
  opacity: 0;
  filter: alpha(opacity=0);
}
.t-default input[type="radio"] {
  display: inline-block;
  margin: 5px 5px 5px 0;
  vertical-align: middle;
}
.t-default input[type="radio"] + label {
  margin-top: 0;
}
.t-default label {
  font-style: italic;
  margin: 10px 0 5px 0;
}
.t-default strong, .t-default b {
  font-weight: bold;
}
.t-default select {
  border: 1px solid #cccccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.t-default .content {
  width: 900px;
  margin: 0 auto;
}
.t-default .header {
  clear: both;
  padding: 10px 0px;
  position: relative;
}
.t-default .header li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  font-size: 24px;
}
.t-default .header .header-logo {
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 34px;
}
.t-default .footer {
  clear: both;
  padding: 10px 0px;
}
.t-default .footer ul {
  display: block;
}
.t-default .footer li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  font-size: 16px;
  text-align: left;
}
.t-default .gallery li {
  list-style: none;
  float: left;
  margin: 10px;
}
.t-default .image-single {
  margin: 10px auto;
  text-align: center;
}
.t-default .image-single img {
  text-align: center;
}
.t-default div.modal {
  background: #fff;
  background: RGBA(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  font-size: 120%;
  cursor: pointer;
}
.t-default div.modal h1 {
  text-transform: capitalize;
}
.t-default div.modal > div {
  position: fixed;
  width: 60%;
  top: 30%;
  left: 50%;
  margin-left: -30%;
  z-index: 1001;
}
