$colorSelected: #39AE4A;
$colorUnselected: #98999B;
$border: 1px solid #ccc;
$path: '../img/themes/default/';

@mixin roundedColor($first, $second, $ie) {
    background: $first; /* Old browsers */
    background: -moz-linear-gradient(top, $first 0%, $second 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(100%,$second)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $first 0%,$second 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $first 0%,$second 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $first 0%,$second 100%); /* IE10+ */
    background: linear-gradient(to bottom, $first 0%,$second 100%); /* W3C */
    filter: $ie; /* IE6-9 */
}
@mixin roundedBorder($cord){
    -moz-border-radius: $cord;
    -webkit-border-radius: $cord;
    -o-border-radius: $cord;
    -ms-border-radius: $cord;
    -khtml-border-radius: $cord;
    border-radius: $cord;
}
@mixin roundedShadow($cord){
    -webkit-box-shadow: $cord;
    -moz-box-shadow: $cord;
    box-shadow: $cord;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
html {
        height: 100%;
    }
body {
    color: #777;
    font: 75%/1.6em 'Open Sans',sans-serif;
    height: 100%;
    min-width: 100%;
    width: 100%;
}
.t-default {
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    h1, h2, h3, h4, h5, h6{
        color: $colorSelected;
        line-height: 1.2em;
    }
    h1 {
        font-size: 1.8em;
        font-weight: bold;
    }
    h2{
        color: $colorUnselected;
        font-style: italic;
        font-weight: normal;
    }
    h3 {
        font-size: 1.3em;
        font-style: italic;
        font-weight: normal;
    }
    h4 {
        color: $colorUnselected;
        font: italic 1.2em/31px Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    }
    ol, ul {
        list-style: none;
    }
    a {
        color: $colorSelected;
        font-weight: normal;
        cursor: pointer;
        &:hover,
        &:focus{
          text-decoration: none;
        }
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 12px;
    }
    input[type="text"], input[type="password"], textarea {
        border: $border;
        color: #666;
        outline: medium none;
        padding: 5px;
    }
    input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
        border-color: #666;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    }
    input[type="text"] {
        font-size: 12px;

        &.hidden-input{
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
    input[type="radio"] {
        display: inline-block;
        margin: 5px 5px 5px 0;
        vertical-align: middle;

        &+label {
            margin-top: 0;
        }
    }
    label{
        font-style: italic;
        margin: 10px 0 5px 0;

        @extend .inline-block;

    }
    strong, b{
        font-weight: bold;
    }
    select{
        border: $border;
        @include roundedBorder(2px);

        option {
            @extend .padding-r10;
        }
    }

    .content {
        width: 900px;
        margin: 0 auto;
    }

    .header {
        clear: both;
        padding: 10px 0px;
        position: relative;
        li {
            list-style: none;
            display: inline;
            margin-right: 20px;
            font-size: 24px;
        }
        .header-logo {
            position: absolute;
            right: 0;
            top: 16px;
            font-size: 34px;
        }
    }

    .footer {
        clear: both;
        padding: 10px 0px;
        ul {
            display: block;
        }
        li {
            list-style: none;
            display: inline;
            margin-right: 20px;
            font-size: 16px;
            text-align: left;
        }
    }

    .gallery {
        li {
            list-style: none;
            float: left;
            margin: 10px;
        }
    }
    .image-single {
        margin: 10px auto;
        text-align: center;
        span {
        }
        img {
            text-align: center;
        }
    }

    /* --- MODAL CSS --- */

    div.modal {
	background: #fff;
	background: RGBA(255,255,255,0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow: hidden;
	font-size: 120%;
	cursor: pointer;

        h1 {
            text-transform: capitalize;
        }
    }
    div.modal > div {
        position: fixed;
        width: 60%;
        top: 30%;
        left: 50%;
        margin-left: -30%;
        z-index: 1001;
    }
}
