<ul class="navbar-footer">
    <li class="go-home"><a href="index.html">Home</a></li>
    <li class="go-home"><a href="angular.html">Angular Js</a></li>
    <li class="go-home"><a href="backbone.html">Backbone</a></li>
</ul>