<article class="image-single">
    <img src = "uploads/img/{{img.thumbnail}}"
         height = "150"
         width = "125" 
         ng-click = "callModal($event, $index)"
         alt = "{{img.title}}"
         title = "{{img.title}}">
    <br>
    <span>{{img.title}}</span>
</article>