<ul class="gallery">
    <li ng-repeat="img in items">
        <a href="#image/{{img.id}}">
            <img ng-src="uploads/img/{{img.thumbnail}}" height="150" width="125" alt="">
        </a>
    </li>
</ul>